<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>


<% if @user.has_image %>
<p>
  <b>Image:</b>
  <%= image_tag(@user.img) %>
</p>
<% end %>                                     
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
